/* Content Area */
.content {
    padding: var(--spacing-lg);
    flex-grow: 1;
}

/* Header das páginas */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-lg);
}

.page-header h2 {
    font-size: 1.7rem;
}

/* No data*/
.no-data{
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-gray);
  padding: var(--spacing-lg);
}
/* Notificações */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 10000;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.notification.info {
    background-color: #e8f5fe;
    color: var(--info);
}

.notification.error {
    background-color: #fde0e0;
    color: var(--danger);
}

.notification i {
   font-size: 1.2rem;
}